
<div class="container mt-5 mb-5">
    <h1 class="text-center">Popular WashPacks</h1>
    <div class="row">
        <div class="col-lg-3"  mt-3 *ngFor="let wp of washPack">
            <div class="wasPack mt-3 mb-3">
                <img src="{{wp.CarImg}}"/>
                <h1>{{wp. name}}</h1>
                <p>{{wp.description}}</p>
                <p>{{wp.cost | currency:'INR'}}</p>
                <br/>
                <a class="bookbtn">Book Service &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>

</div> 

<div class="container mt-5 mb-5">
    <h1 class="text-center">Available WashPacks</h1>
    <div class="row">
        <div class="col-lg-3"  mt-3 *ngFor="let wpd of WashPack">
            <div class="wasPack mt-3 mb-3">
               
                <h1>{{wpd. name}}</h1>
                <p>{{wpd.description}}</p>
                <p>{{wpd.cost | currency:'INR'}}</p>
                <br/>
                <a class="bookbtn">Book Service &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>

</div> 