nav{
    height: 100px;
}
.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.side-nav-button:hover{
    background-color:darkslategray;
    border-radius: 30%;
}
a{
   
    font-weight: bold;
    font-style: oblique;
}