<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" >
     
     <i class="fa-solid fa-bars-staggered"></i>
     
    </div> 
 
    <a class="navbar-brand px-4" href="#">GREEN CAR WASH</a>
 
    
 
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
     <ul class="navbar-nav">
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Menu
         </a>
         <ul class="dropdown-menu dropdown-menu-dark">
           <li><a class="dropdown-item" routerLink="signup" routerLinkActive="active-link">Signup</a></li>
           <li><a class="dropdown-item" routerLink="login" routerLinkActive="active-link">Login</a></li>
           <li><a class="dropdown-item" routerLink="adminlogin"routerLinkActive="active-link">Admin</a></li>
           <li><a class="dropdown-item" routerLink="about"routerLinkActive="active-link">About us</a></li>
           <li><a class="dropdown-item" routerLink="clogin"routerLinkActive="active-link">Customer</a></li>
           <li><a class="dropdown-item" routerLink="washer"routerLinkActive="active-link">Washer</a></li>
         </ul>
       </li>
     </ul>
     </div>
 
     <!-- <form class="d-flex me-5">
         <input class="form-control me-2" type="search" placeholder="Search">
         <button class="btn btn-outline-light" type="submit">
            Search
         </button>
     </form> -->
 
     <div class="profile-logo dropstart">
         <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
             Profile
         </button>
         <ul class="dropdown-menu dropdown-menu-dark">
             <li><a class="dropdown-item" routerLink="login">Logout</a></li>
             <li><a class="dropdown-item" href="#">view Profile</a></li>
           </ul>
     </div>
 </nav>
 
