.text-center{
    font-size: 50px;
    font-weight: bold;
}

/* .btn btn-success{
   color:black;
    margin-right:100px;
    padding:10px 10px;
    text-decoration: dashed;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.btn btn-danger{
    color:black;
    
    padding:15px 10px;
    text-decoration: dashed;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
} */