<div class="sidenav">
    <div class="side-nav-content ">
    
        <ul class="nav-list" >
            <li class="nav-list-item " >
                <i class="fa-solid fa-house-chimney "></i>
                <span>
                    <a href="#">HOME</a>
                </span>
            </li>
    
            <li class="nav-list-item " >
                <i class="fa-solid fa-car "></i>
                <span>
                    <a href="service">SERVICES</a>
                </span>
            </li>
    
            <li class="nav-list-item " >
                <i class="fa-solid fa-briefcase "></i>
                <span>
                    <a href="#">Profile</a>
                </span>
            </li>
            
            <li class="nav-list-item " >
                <i class="fa-solid fa-calendar-days "></i>
                <span>
                    <a href="#">SCHEDULE</a>
                </span>
            </li>
    
            <li class="nav-list-item " >
                <i class="fa-solid fa-car "></i>
                <span>
                    <a href="#">Orderdetails</a>
                </span>
            </li>
    
            <li class="nav-list-item " >
                <i class="fa-solid fa-car "></i>
                <span>
                    <a (click)="logout()">logout</a>
                </span>
            </li>
           
        </ul> 
    </div>
    </div>
    
    


